*{
    justify-content: center;
}
.main-content{
   display:grid ;
   grid-template-columns: 300px 700px;
   min-height: 1000px;
   width: 90%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-section{
    background-color: aqua;
}
.right-section{
    background-color: rgb(160, 220, 233);
    width: 90%; 
    /* check width */
}

.left-content{
    padding: 1rem;

}
.profile-image{
    margin: auto;
    display: block;
    border: 5px solid white;
    border-radius: 30%;
    width: 60%;
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;

}
.description{
    font-size: .75rem;
    text-align: center;
    padding: 1rem;

}
.social-media{
    display: flex;
    justify-content: space-around;
}
.icon{
    list-style: none;
    height: 20px;
    width: 20px;
}
.personal-detail{
    padding-top:10px;
    line-gap-override: 10px;
}

.pdi{
    font-size: 3px;
    padding-top: 3px;
}

.skills{
    font-size: .75rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}
.skill-name{
    font-size: 0.65rem;
    padding-bottom: 0.5rem;
    text-align: left;
}
.progress-bar{
    border: 1px solid white;
    height: 4px;
    background-color: white;

}
    
.right-main-content{
    padding: 2rem 3rem;
    /* check padding */
}
.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}
.aboutMe-content{
    padding-inline-start: 0.5rem;
}

.education-details{
    list-style: none;
    margin: 0;
    margin-block: 0;
    padding-inline-start: 0.5rem;
    padding-bottom: .5rem;
}
.edu-title{
    font-size: 1rem;
}
.edu-content{
    font-size: .8rem;
}
.experience-points{
    font-size: .95rem;
    line-height: 30px;
    
}

@media screen and (max-width:674px){
    .main-content{
        grid-template-columns: repeat(1, 1fr);
    }
}